<launch>
	
	<node pkg = "turtlesim" type = "turtlesim_node" name = "turtle_A" respawn = "true" >

	</node>

	<node pkg = "turtlesim" type = "turtlesim_node" name = "turtle_B" respawn = "true" >

	<remap from = "/turtle1/cmd_vel"		to = "/turtle1/rev_cmd"		/>

	</node>

	<node pkg = "turtlesim" type = "turtle_teleop_key" name = "teleop_key" respawn = "true" >
	
	</node>

	<node pkg = "test" type = "rev_turtle" name = "rev_turtle" respawn = "true" >
	
	</node>

</launch>



